@import "tailwindcss";

* {
  font-family: "Inter", -apple-system, "BlinkMacSystemFont", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; 
}

/* 
 *  p-3 w-full rounded-sm outline-2 outline-gray-300 focus:outline-3 focus:outline-blue-500 transition transition-2s ease-out 
 * 
*/

.form__input {
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  outline: 2px #d1d5dc solid;
  transition: 0.11s ease-in-out;
}
.form__input:focus {
  outline-width: 3px;
  outline-color: #220AD6;
}
.form__radio {
  border: 2px solid #d1d5dc;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
input[type="radio"], input[type="checkbox"] { accent-color: #220AD6; }

@keyframes customAnime1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
